/* mdgo logo desin */
.mdgo-left-log-img{border: 1px solid #e9e9e9;}

/* mdgo btn design */
.mdgo-btn-border{border: 1px solid rgb(212, 212, 212);}
.mdgo-btn-redis{border-radius: 5px;}

/* mdgo card design */
.mdgo-card{margin: 5px 0px; padding: 10px 20px;}
.mdgo-card-mini{margin: 5px 0px; padding: 12px; line-height: 100%;}
.mdgo-card-border{border: 1px solid rgb(212, 212, 212);}
.mdgo-crad-radis{border-radius: 5px;}

/* mdgo clip design */
.mdgo-clip{margin: 5px;float: left;}

/* mdgo github readme setting */
.mdgo-github-readme-img-card{margin: 5px 0px;}
.mdgo-github-readme-img{width: 100%;}

/* mdgo height setting */
.mdgo-height-default{height: 160px;}
.mdgo-height-default-github-readme{height: 180px;}
.mdgo-height-list{height: 100%;}

.mdgo-header-text{font-size: 20px;padding-left: 10px;}
