<div class="mdui-container">
    <hr class="mdui-color-grey-50">
    <div class="mdui-center mdui-text-center mdui-m-b-2">
        <!-- <div class="mdui-m-t-2">订阅本站 / 赞助本站 / 广告合作 / 使用说明 / 关于站长 / 友情链接</div> -->
        <div class="mdui-m-t-1"><span id="sitetime"></span></div>
        <div class="mdui-m-t-1">
            <a href="http://www.beian.miit.gov.cn/" target="_blank">{{ .Site.Copyright }}</a>
        </div>
        <div class="mdui-m-t-1">
            Theme:<a href="https://github.com/debuginn/mdgo" target="_blank">MDgo</a>By<a href="https://www.debuginn.cn"
                target="_blank">Debuginn</a>
        </div>
    </div>
</div>
{{ partial "footer.includes.html" . }}
</body>

</html>