<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <base href="{{ .Site.BaseURL }}/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ .Site.Title }} - {{ .Site.Params.Description }}</title>
    {{ partial "head.meta.html" . }}
    <script>document.documentElement.className = document.documentElement.className.replace("no-js", "js");</script>
    {{ partial "head.includes.html" . }}
</head>