<div class="mdui-col-xs-9">
    <div class="mdui-row mdui-m-t-2">
        <!-- notice -->
        {{ partial "notice.html" . }}
        <!-- card info message -->
        {{ partial "card.info.html" . }}
        <!-- card github readme message -->
        {{ partial "card.readme.html" . }}
        <!-- card post article technology -->
        {{ partial "card.article.technology.html" . }}
        <!-- card post article thinking -->
        {{ partial "card.article.thinking.html" . }}

        <!-- <div class="mdui-col-xs-12">
            <div class="mdgo-card  mdgo-card-border mdgo-height-list mdgo-crad-radis mdui-typo">
                111
            </div>
        </div> -->
    </div>
</div>