<div class="mdui-col-xs-12">
    <div class="mdui-chip mdui-m-b-1">
        <span class="mdui-chip-icon mdui-color-blue">
            <i class="mdui-icon material-icons">assistant_photo</i>
        </span>
        <span class="mdui-chip-title mdui-text-truncate">
            {{ .Site.Params.NoticeText }}
        </span>
        <span class="mdui-chip-icon mdui-color-purple">
            <a href="{{ .Site.Params.NoticeLink }}" target="_blank">
                <i class="mdui-icon material-icons">add_circle_outline</i>
            </a>
        </span>
    </div>
</div>