<div class="mdui-col-xs-3">
    <div style="margin:15px;  padding: 10px;">
        <div class="mdui-m-t-1 mdui-m-b-1">
            <img src="{{ .Site.BaseURL }}img/logo.png"
                class="mdui-img-fluid mdui-img-circle mdui-hoverable mdgo-left-log-img" alt="logo">
            <h2>{{ .Site.Params.UserName }}</h2>
            <div class="mdui-typo-subheading">{{ .Site.Params.Description }}</div>
        </div>

        <div class="mdui-m-t-2 mdui-m-b-1">
            <a href="#"
                class="mdui-btn mdui-btn-block mdui-btn-dense mdui-rounded mdui-color-theme-divider mdui-border mdgo-btn-border mdgo-btn-redis">
                订阅本站
            </a>
        </div>

        <div class="mdui-m-t-1 mdui-m-b-1">
            <small>
                <i class="mdui-icon material-icons ">people_outline</i>
                19 Flowers
                ·
                58 following
                ·
                <i class="mdui-icon material-icons">star_border</i>
                158
            </small>
        </div>

        <!-- <div class="mdui-m-t-2 mdui-m-b-1">
            <div><i class="mdui-icon material-icons">add_location</i>中国北京</div>
            <div><i class="mdui-icon material-icons">email</i>debuginn@icloud.com</div>
            <div><i class="mdui-icon material-icons">insert_link</i>https://www.debuginn.cn</div>
        </div> -->

        <hr class="mdui-color-black-secondary">

        <div class="mdui-m-t-1 mdui-m-b-1">
            <h1>社交媒体</h1>
        </div>

        <hr class="mdui-color-black-secondary">

        <div class="mdui-m-t-1 mdui-m-b-1">
            <div class="mdui-chip">
                <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">face</i></span>
                <span class="mdui-chip-title">Example Chip</span>
            </div>
        </div>
    </div>
</div>